{% block algorthms %}

{% if isDigitalSig %}
    {% if digital_object.isSigned %}
        <br>
        Digital Signature:
        {{digital_object.sig}}
    {% elif digital_object.isInvalid %}
        <br>
        Key Format is Invalid.
        <br>
        Please --Reset ALL-- then add a valid key.
        <br>
        You may generate a key, and copy the content of the file for correct format.
    {% else %}
        <form method='POST' class='ui form' action=''>
            {% csrf_token %}
            <label for="private">Paste Private Key:</label>
            <textarea class='form-control' rows='4' name='private' id ='private' value=''></textarea>
            <button type='submit' class="btn btn-primary">Sign</button>
        </form>

    {% endif %}


{% elif isHashing %}
    {% if hashing_object.isActive %}
        <br>
        Hash:
        {{hashing_object.hash}}
    {% endif %}


{% elif isWatermark %}
    {% if water_object.isDownload %}
        <form method='POST' class='ui form' action=''>
            {% csrf_token %}
            <button type='submit' class="btn btn-primary">Download</button>
        </form>

    {% else %}
        <form method='POST' class='ui form' action=''>
            {% csrf_token %}
            <label for="x">Set y dimension(Int) of watermark:</label>
            <input title="Set x dimension of watermark:" type="text" name="x" id ='x' value="3" size="8">

            <label for="y">Set y dimension(Int) of watermark:</label>
            <input title="Set y dimension of watermark:" type="text" name="y" id ='y' value="8" size="8">
            
            <label for="font_size">Set Font Size of watermark:</label>
            <input title="Set Font Size of watermark:" type="text" name="font_size" id ='font_size' value="14" size="8">

            <label for="mark">Watermark Text:</label>
            <textarea class='form-control' rows='0' name='mark' id ='mark' value='Watermarking'>Watermarking</textarea>
            <button type='submit' class="btn btn-primary">Add Watermark</button>
        </form>
    {% endif %}


{% elif isKeys %}
    {% if key_object.isDownload %}
        <form method='POST' class='ui form' action=''>
            {% csrf_token %}
            <button type='submit' class="btn btn-primary">Download</button>
        </form>
    {% endif %}
{% endif %}
{% endblock %}